@media screen and (min-width: 2000px){
.footer{

}
  .precios{
    margin: 30px 0px;
  }
  .container_nav{
    box-sizing: content-box;
    height: 13vh;
  }
  .article{
    top:8vh;
  }
.menu{
    /* position: absolute; */
    /* top: 10vh; */
    /* background: red; */
    /* line-height: 80px; */
    /* transform: translateY(3vh); */
    font-size: 2vw;
    max-font-size:300px;
    /* padding-top:3vh; */
    /* line-height: 80px; */
    align-self: start;
    margin-top: 6%;

  }
  .nav_ul_login_li{
    font-size: 2vw;
  }
  .nav_ul_login_container{
    align-self: start;
  }

.container_logo{
  align-self: start;

}
.logo{
  top: 1vh;
  width: 17vw;
  display: absolute;
  max-width: 820px;
}
.contactanos{
  margin-bottom: 20px;
}
.lista_footer{
  margin-top: 6%;

}
.copyright{
  margin-top: 7%;

}
 }
@media screen and (min-width: 1400px){
/* .nav{
  grid-template-columns: 43vw 43vw ;

} */
.container_contacto *{
  font-size: 2vw;
}
.footer{
  height: 50vh;
  max-height:900px;

}
.container_contacto{
  /* background: red; */
  margin-top: 15vh;
  height: 100%;
}
.logo{
  width: 14vw;
}
.article{
}
.div_container_productos{
  grid-template-rows:  max-content max-content max-content  max-content max-content  max-content max-content max-content max-content max-content  max-content max-content max-content max-content max-content max-content max-content max-content max-content  max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content max-content  max-content max-content max-content max-content max-content max-content max-content max-content max-content  max-content  max-content max-content max-content max-content  max-content max-content max-content 150px max-content max-content max-content max-content max-content max-content
}
.container_boton_precio{
margin-top: 10px;
}
.container_productos_i{
  text-align: center;
  font-size:1.4vw;
}
.container_boton_precio{
  margin: 80Px 0px 130px;
  font-size: 1.4vw;
}
.titles{
  font-size:2.1vw;

}
.precios{
  margin: 20px 0px;
}
.boton_precio{
  width: 7vw;
  height: 4vh;
  max-height: 70px;
  font-size: .9vw;

}
.container_productos img{
  object-fit: cover;
  width: 43vw;
}
}
@media screen and (max-width: 1300px){
  .footer{
    width: 100%;
    padding-top: 2vh;

  }
  .container_productos img{
    object-fit: cover;
    width: 43vw;
  }
  .container_productos{
    text-align: center;
  }
 }
@media screen and (max-width: 900px){
}